@import
url("https://fonts.googleapis.com/css?family=Raleway:100, 300, 400, 700, 900");
@import
url("https://fonts.googleapis.com/css?family=Amatic+SC:Regular, Bold");

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 92%;
  margin: 0 auto;
}

/*typography
========================== */
.title{
  font-family: 'Amatic SC', 'Raleway', sans-serif;
  font-size: 4.5em;
}

nav a {
  font-family: 'Amatic SC', 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 2.5em;
}

.tagline{
  font-size: 3.5em;
}

#not-bold{
  font-weight: 300;
  font-size: 1.25rem;
}

.button-accent{
  font-family: 'Amatic SC', 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: Bold;
}

@media (min-width: 300px){
  .title{
    font-size: 3.3rem;
  }
  nav a{
    font-size: 1.2rem;
  }
  .tagline{
    font-size: 1.55rem;
  }
  #not-bold{
    font-size: 0.9rem;
  }
  .button-accent{
    font-size: 1.1rem;
  }
  .small-white-text{
    font-size: .4rem;
  }
}

@media (min-width: 450px){
  .title{
    font-size: 3.3rem;
  }
  nav a{
    font-size: 1.2rem;
  }
  .tagline{
    font-size: 1.75rem;
  }
  #not-bold{
    font-size: 1.0rem;
  }
  .button-accent{
    font-size: 1.2rem;
  }
  .small-white-text{
    font-size: .45rem;
  }
}

@media (min-width: 600px){
  .title{
    font-size: 3.6rem;
  }
  nav a{
    font-size: 1.55rem;
  }
  .tagline{
    font-size: 2.0rem;
  }
  #not-bold{
    font-size: 1.2rem;
  }
  .button-accent{
    font-size: 1.4rem;
  }
  .small-white-text{
    font-size: .5rem;
  }
}

@media (min-width: 750px){
  .title{
    font-size: 4rem;
  }
  nav a{
    font-size: 1.75rem;
  }
  .tagline{
    font-size: 2.2rem;
  }
  #not-bold{
    font-size: 1.35rem;
  }
  .button-accent{
    font-size: 1.55rem;
  }
  .small-white-text{
    font-size: .55rem;
  }
}

@media (min-width: 900px){
  .title{
    font-size: 4.5rem;
  }
  nav a{
    font-size: 2rem;
  }
  .tagline{
    font-size: 2.75rem;
  }
  #not-bold{
    font-size: 1.65rem;
  }
  .button-accent{
    font-size: 1.75rem;
  }
  .small-white-text{
    font-size: .6rem;
  }
}
/* header
========================== */

header{
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 1em;
}

.title{
  color: #FFF;
  margin-bottom: 0.05em;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin: 1em;
}

nav a{
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 0.5em;
  padding: 0.5em;
  color: white;
/*  background: #63AACA;*/
}

#contact-button{
  margin-left: 0;
}

nav a:hover,
nav a:focus{
  color: #E5E5E5;
  border-bottom-style: solid;
  border-bottom-color: #8CE379;
  border-bottom-width: 2px;
  padding-bottom: 3px;
}

@media (min-width: 900px){
  header {
    margin: 2rem 2rem 2rem 3rem;
  }
  .title {
    float: left;
    margin: 0;
  }
  ul{
    float: right;
  }
}

/* home-hero
   ======================= */
.home-hero{
  background-image: url("../img/pineapple-supply-co-150879-unsplash.jpg");
  padding-top: 12em;
  padding-bottom: 1.5em;
  color: white;
}

.small-white-text{
  color: white;
  font-size: .6rem;
  padding: 6em 2em 0 2em;
  text-align:  right;
  margin-bottom: 0;
}

.small-white-text-2{
  color: white;
  font-size: .6rem;
  padding: 1em 2em 0 2em;
  text-align:  right;
  margin-bottom: 0;
}

.tagline{
  padding: 1.5em 0 2em 0;
  margin: 2em 0.25em 1.5em 0.5em;
}

#not-bold{
  display: block;
  padding-top: 0.5em;
}

.button-accent{
  text-decoration: none;
  text-transform: uppercase;
  color: #89E076;
  padding: 0.5em 1em 0.5em 1em;
  border-style: solid;
  border-width: 3px;
  border-color: #89E076;
}

.button-accent:hover,
.button-accent:focus{
  color: white;
  border-color: white;
  background-color: rgba(140, 227, 121, .75);
}

@media (min-width: 300px){
  .button-accent{
    border-width: 2.8px;
    padding: 0.5em 1.5em 0.5em 1.5em;
  }
}

@media (min-width: 450px){
  .button-accent{
    border-width: 2.6px;
  }
}

@media (min-width: 600px){
  .button-accent{
    border-width: 2.4px;
  }
}

@media (min-width: 750px){
  .button-accent{
    border-width: 2.2px;
  }
}

@media (min-width: 900px){
  .tagline{
    margin: 0 0 1em 0;
  }
  .button-accent{
    border-width: 2px;
  }
}

/* home-about
   ======================= */

.home-about{
  background-image: url("../img/three_sisters_cover_page.JPG");
  color: white;
  margin-top: 0.25em;
  padding-left: 20.5%;
  padding-right: 20%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.heading{
  font-family: 'Amatic SC', 'Raleway', sans-serif;
  font-size: 2.2em;
  margin-top: 0;
}

/* portfolio
   ======================= */
.portfolio{
  margin-top: 0.25em;
  padding-top: 2em;
  padding-bottom: 1em;
  background-image: url("../img/wood-jars.jpg");
  background-size: cover;
  color: white;
}

.port-item{
  margin-bottom: 0;
  padding-bottom: 1em;
}

/* footer
   ======================= */

footer{
  padding: 1em 0;
  color: white;
  margin-top: 0.25em;
  background-image: url("../img/large-plant-on-stool.jpg");
}

footer h2{
  margin-top: 0;
  font-family: 'Amatic SC', 'Raleway', sans-serif;
  font-size: 1.8rem;
}

footer a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

footer a:hover,
footer a:focus{
  color: #E5E5E5;
  border-bottom-style: solid;
  border-bottom-color: #8CE379;
  border-bottom-width: 2px;
  padding-bottom: 3px;
}
